body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content{
  text-align: center;
}


.formb{
  border: 2px solid black;
  margin: 10% 20%;
  padding: 2%;
  text-align: center;
}

.forml{
  font-size:xx-large;
  color: green;
}
.ta{
  width: 50%;
  height: 100px;
}